.menu-list {
    width: 224px;
    background-color: rgb(37, 37, 37);
    border-radius: 8px;

    .menu-wrapper {
        padding: 10px 0;
    }

    .menu-item {
        margin-left: 0 !important;
        justify-content: start;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 0;
        line-height: 22px;
        padding: 10px 8px 10px 16px;
        background-color: transparent;
        &:hover {
            background: rgba(255, 255, 255, 0.04);
        }
    }
}

//Header
.header{
    position: relative;
    height: 50px;
    width: 100%;
    cursor: default
}

.back-btn{
    width: 50px;
    height: 100%;
    background-color:transparent;
    cursor: pointer;
    color: var(--white-color);
    text-align: start;
    margin-left: 12px;
}

.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 500;
}
