.wrapper {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
    background-color: var(--bg-color);
}

.inner {
    height: 100%;
    padding: 0 24px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        min-width: 300px;
    }
    
    .logo-link{
        display: flex;
    }

    .logo-img{
        display: inline-block;
        position: relative;
        top: 6px;
    }
}


.actions{
    display: flex;
    align-items: center;

    .action-btn{
        font-size: 2.2rem;
        color: rgba(255, 255, 255, .9);
        background-color: transparent;
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-left: 16px;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .user-avatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 24px;
        cursor: pointer;
        object-fit: cover;
    }
    
    .more-btn{
        font-size: 1.4rem;
        padding: 4px 8px;
        margin-left: 16px;
        background-color: transparent;
        color: var(--white-color);
        cursor: pointer;
    }

    .icon{
        fill: var(--white-color)
    }
}




